*                             { margin: 0; padding: 0; }
body                          { font: 16x Georgia, serif; }
#page-wrap                    { margin: 2% auto; color: white; }
#page-wrap > .main            { border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black; }
section > div                 { padding: 20px; }
.right  > a                   { float: right; }
header, section, footer       { background: #eee; text-align: center; }
nav                           { background: #eee; text-align: left; }
footer                        { font-size: 60%; }
nav div                       { margin: 0px 10px 0px 0px; }
p                             { text-align: left; }
#logoGit                      { width: 30px; height: 30px; }
#fotoAut                      { float: left; width: 100px; heigth: 100px; padding: 0px 10px 0px 0px;}
nav span                      { margin:  0px 10px 0px 0px; }
#ErrorMsgs                    { color: #f61;, font-size: smaller; }
